
.growButton { 
  transition: all .2s ease-in; 
}
  
.growButton:hover { 
  transform: scale(1.15); 
}

.growCard { 
  transition: all .2s ease-in; 
}
  
.growCard:hover { 
  transform: scale(1.03); 
}

.ModelAreaChild {
  position: absolute;
}

.ReactFlow {
  z-index: 1;
}