# ignore postgres because we don't need our whole DB in the repo
postgres
*.code-workspace
**/*.log
postgres.log
**/*.sqlite3

# ignore private credentials which should be kept local
AWS/aws_credentials.csv

.DS_Store